PORT=3000
BASE_URL=https://umamido-card-test.up.railway.app

# Google Wallet
GOOGLE_ISSUER_ID=BCR2DN4TU6MIZGSQ
GOOGLE_KEY_FILE=./certs/google-wallet-key.json

# Sécurité
SECRET_KEY=umamido-secret-change-moi

# Base de données
DB_PATH=./umamido.db
